<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="content">
    <f:asset.script identifier="listing-js" src="EXT:nitsan_product/Resources/Public/Javascript/Listing.js" />
    <h1>Listing for Product</h1>

    <f:flashMessages />

    <!-- simple filter form start -->
    <!-- <f:form action="list" method="post">

        <f:form.textfield
            name="filter[name]"
            value="{searchName}"
            placeholder="Search by name" />

            <f:form.select name="filter[brand]" options="{brands}" optionValueField="uid" optionLabelField="name" value="{selectedBrand}" prependOptionLabel="All Brands" prependOptionValue=""/>

        <f:form.submit value="Filter" />

    </f:form> -->

    <!-- simple filter form end -->

    <f:form id="productFilter" action="list" method="post">
        <f:form.textfield name="filter[name]" value="{searchName}" id="product_name" placeholder="Search by name" />

        <f:form.select name="filter[brand]" id="product_brand" options="{brands}" optionValueField="uid" optionLabelField="name" value="{selectedBrand}" prependOptionLabel="All Brands" prependOptionValue=""/>
    </f:form>


    <br>
    <div id="productResult">
        <table class="tx_nitsanproduct table" border="1">
            <tr>
                <th><f:translate key="tx_nitsanproduct_domain_model_product.name" /></th>
                <th><f:translate key="tx_nitsanproduct_domain_model_product.description" /></th>
                <!-- <th><f:translate key="tx_nitsanproduct_domain_model_product.image" /></th> -->
                <th><f:translate key="tx_nitsanproduct_domain_model_product.price" /></th>
                <!-- <th></th>
                <th></th> -->
            </tr>
            <f:for each="{products}" as="product">
                <tr>
                    <td><f:link.action action="show" arguments="{product : product}">{product.name}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{product : product}">{product.description}</f:link.action></td>
                    <!-- <td><f:link.action action="show" arguments="{product : product}">{product.image}</f:link.action></td> -->
                    <td><f:link.action action="show" arguments="{product : product}">{product.price}</f:link.action></td>
                    <!-- <td><f:link.action action="edit" arguments="{product : product}">Edit</f:link.action></td>
                    <td><f:link.action action="delete" arguments="{product : product}">Delete</f:link.action></td> -->
                </tr>
            </f:for>
        </table>
    </div>

    <!-- <f:link.action action="new">New Product</f:link.action> -->
</f:section>
</html>
