<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
    <h1>New Product</h1>
    <f:flashMessages />
    <f:render partial="FormErrors" />
    <f:form action="create" name="newProduct" object="{newProduct}" enctype="multipart/form-data">
    <f:render partial="Product/FormFields" arguments="{_all}" />
    <f:form.submit class="mt-2 btn btn-primary"  value="Add Product" />
    </f:form>
</f:section>
</html>
