<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="content">
    <h1>Edit Product</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="update" name="product" object="{product}">
        <f:render partial="Product/FormFields" arguments="{product: product}" />
        <f:form.submit value="Save" class="btn btn-default" />
    </f:form>
</f:section>
</html>
